.App {
  text-align: center;
}
.header {
  color: #ee6e73;
  font-weight: 300;
  text-align: center;
}

#send-btn{
  margin-left: 21%;
  padding-right: 29px;
}

#saved-articles-btn{
  margin-left: 23%;

}


